**/__pycache__/
/.idea/
/__pycache__/
/constructors/__pycache__/
/pattern_encoders/__pycache__/
/preprocessors/__pycache__/
meta-output/patterns/patterns_bpic2017_case_attr_freq_geq_10_20.pkl
performance/constructing_event_graph_bpic2017_case_attr.csv
performance/constructing_task_instance_nodes_bpic2017_case_attr.csv

